---
import ChannelBadge from './ChannelBadge.astro';
const channelMap = new Map([
  ['RSS', { iconUrl: '/rss.svg', href: 'https://feeds.zencastr.com/f/f_HJY_T3.rss' }],
  ['YouTube', { iconUrl: '/watch-on-yt.svg' }],
  ['Apple', { iconUrl: '/apple-podcasts.svg' }],
  ['Spotify', { iconUrl: '/spotify.svg', href: 'https://open.spotify.com/show/5vtb28Q1QNzgv07v9LzpGp' }]
]);
const { channel, href } = Astro.props;
---

{channel === 'RSS' || channel === 'Spotify' ? (
  <ChannelBadge
    {channel}
    href={href ?? channelMap.get(channel)!.href}
    src={channelMap.get(channel)!.iconUrl}
  />
) : (
  <a href={href}>
    <img src={channelMap.get(channel)!.iconUrl} alt={`Icon for ${channel}`} />
  </a>  
)}
