---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card surface shadow rounded">
	<a href={href} class="grid padding">
		<h2>
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="subtext">
			{body}
		</p>
	</a>
</li>
<style>
	.link-card {
		list-style: none;

		> a {
			--_padding: var(--size-4);
			text-decoration: none;

			&:hover h2 {
				color: var(--link);
			}
		}
	}
	
	h2 {
		font-size: var(--font-size-3);
	}
</style>
