<div></div>

<style>
  div {
    margin-block-end: -16px;
    grid-column: 1/-1;
    position: relative;
    background-image: url(/footer-grunge.png);
    background-position: center center;
		background-repeat: no-repeat;
    height: 240px;
  }
</style>