<div>
  <img loading="lazy" src="/footer-grunge.webp" alt="Spray paint grunge splatter" />
</div>

<style>
  div {
    margin-block-end: -16px;
    grid-column: 1/-1;
    position: relative;
  }
</style>