---
import logo from "../assets/bad-logo-hero.svg";
---
<header>
  <a href="/">
		<img src={logo.src} height="45" width="48"  alt="Bad at CSS" />
	</a>
</header>

<style>
  header {
		display: flex;
		justify-content: flex-start;
	}
</style>
