---
import Listen from "./Listen.astro"
import Section from "./Section.astro"
import logo from "../assets/bad-logo-hero.svg";
---

<section>
  <div>
    <img src={logo.src} width="374" height="253" alt="Bad @ CSS logo" fetchpriority="high" />
  </div>
</section>

<Section subtitle="A podcast for those who are bad at CSS">
  <div>
    <Listen />
  </div>
</Section>

<style>
  @keyframes greeting--leaveview { 
    to {
      opacity: .25;
      translate: 0 5vh;
    }
  }

  section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    place-items: center;
    padding-block: 2.5vh;

    > img {
      grid-column: 1 / -1;
    }

    & div, img {
      grid-row: 2;
    }

    & div {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full;
      place-items: center;
  
      & > * { 
        grid-column: center;
      }
  
      & > img {
        width: 65%;
      }
		}

    @media (prefers-reduced-motion: no-preference) {
      @supports (animation-timeline: scroll()) {
        animation: greeting--leaveview linear both;
        animation-timeline: scroll();
        animation-range: 0 25vh;
      }
    }

	}
</style>