---
import Listen from "./Listen.astro"
import Section from "./Section.astro"
---

<section>
  <div>
    <img src="/bad-logo-hero.svg" width="374" height="253" />
  </div>
</section>

<Section subtitle="A podcast for those who are bad at CSS.">
  <div>
    <Listen />
  </div>
</Section>

<style>
  section {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: full;
    place-items: center;
    padding-block: 2.5vh;

    & div {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: full;
      place-items: center;
  
      & > * { 
        grid-column: center;
      }
  
      & > img {
        width: 65%;
      }
		}

	}
</style>