---
let { iconUrl, iconAlt, heading } = Astro.props
---
<style>
  div {
    display: flex;
    align-items: center;
    gap: 32px;
    
    & h2 {
      line-height: 1.125;
      width: min-content;
    }
  }
</style>
<div>
  <img width="48" src={iconUrl} alt={iconAlt} />
  <h2>{heading}</h2>
</div>