---
import BadgeManager from "./badges/BadgeManager.astro"
---
<ul>
  <li>
    <BadgeManager channel="RSS" />
  </li>
  <li>
    <BadgeManager channel="Spotify" />
  </li>
  <li>
    <BadgeManager channel="YouTube" />
  </li>
  <li>
    <BadgeManager channel="Apple" />
  </li>
</ul>

<style>
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
  }
</style>
