---
import BadgeManager from "./badges/BadgeManager.astro"
---
<ul>
  <li>
    <BadgeManager channel="RSS" />
  </li>
  <li>
    <BadgeManager channel="Spotify" />
  </li>
  <li>
    <a href="https://www.youtube.com/@badatcsspod">
      <img src="/watch-on-yt.svg" alt="YouTube" />
    </a>
  </li>
  <li>
    <a href="https://podcasts.apple.com/us/podcast/bad-at-css/id1702605487">
      <img src="/apple-podcasts.svg" alt="Apple Podcasts" />
    </a>
  </li>
</ul>

<style>
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
  }
</style>
