---
import IconHeading from "./IconHeading.astro";
import EpisodeCard from "./EpisodeCard.astro";

const episodes = [
{
    title: "What CSS is Jason Lengstorf bad at?",
    date: new Date("2023-11-17"),
    featuring: ["jason", "adam", "david"],
    channels: {
      YouTube: "https://youtu.be/BYaU3ftTXfQ",
      Spotify: "https://open.spotify.com/episode/5k8sEqKp3mXAWwhepgyjqR",
      Apple: "https://podcasts.apple.com/us/podcast/what-css-is-jason-lengstorf-bad-at/id1702605487?i=1000635425578",
    },
  },
  {
    title: "TypeScript fan vs. TypeScript skeptic.",
    date: new Date("2023-09-21"),
    featuring: ["david", "adam"],
    channels: {
      YouTube: "https://youtu.be/DNFduc1uHPE",
      Spotify: "https://open.spotify.com/episode/2ieZOM3FSGrCMSA5IFpG2p",
      Apple: "https://podcasts.apple.com/us/podcast/typescript-fan-vs-a-skeptic/id1702605487?i=1000628740881",
    },
  },
  {
    title: "What CSS is Chris Coyier bad at?",
    date: new Date("2023-09-14"),
    featuring: ["chris", "adam", "david"],
    channels: {
      YouTube: "https://youtu.be/ZropSprSNfs",
      Spotify: "https://open.spotify.com/episode/15EPj4mMp7NHDZrwEtAoOc",
      Apple: "https://podcasts.apple.com/us/podcast/chris-coyier-and-the-things-hes-bad-at/id1702605487?i=1000627873644",
    },
  },
  {
    title: "Is Figma's Dev Mode bad at CSS?",
    date: new Date("2023-08-29"),
    featuring: ["adam", "david"],
    channels: {
      YouTube: "https://youtu.be/dafK4Zzabt0",
      Spotify: "https://open.spotify.com/episode/4xlsMJ5SCjPehN8yBXo9ck",
      Apple: "https://podcasts.apple.com/us/podcast/is-figma-bad-at-css/id1702605487?i=1000626262409",
    },
  },
  {
    title: "The View Transition API is amazing... but we're bad at it",
    date: new Date("2023-08-15"),
    featuring: ["adam", "david"],
    channels: {
      YouTube: "https://youtu.be/N3S0GQ-oK_4",
      Spotify: "https://open.spotify.com/episode/563EWGPO6r2MfvwSU4ltrL",
      Apple: "https://podcasts.apple.com/us/podcast/the-view-transition-api-is-amazing-but-were-bad-at-it/id1702605487?i=1000624450304",
    },
  },
];
---

<style>
  section {
    display: flex;
    flex-direction: column;
    gap: 104px;
    align-items: center;
    justify-content: center;
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;

    & li {
      display: contents;
    }
  }
</style>
<section>
  <div>
    <IconHeading
      iconUrl="/microphone.webp"
      iconAlt="A microphone icon"
      heading="Recent Episodes"
      height={71}
      width={48}
    />
  </div>
  <ul>
    {
      episodes.map((episode, index) => (
        <li>
          <click-card>
            <EpisodeCard episode={episode} number={index + 1} />
          </click-card>
        </li>
      ))
    }
  </ul>
</section>
