:root {
  /* example theme props integrated w/ normalize */
  /* no light theme here. */
  --palette-hue: 270;
  --palette-hue-rotate-by: 0;
  --palette-chroma: .05;

  --link: oklch(90% 80% var(--palette-hue));
  --link-visited: oklch(90% 80% calc(var(--palette-hue) * 1.2));

  --surface-1: var(--color-11);
	--surface-2: var(--color-12);
	--surface-3: var(--color-13);
	--surface-document: var(--color-15);
	--well-1: var(--color-16);
	--well-2: black;
  --text-1: var(--color-1);
  --text-2: var(--color-5);

  --font-display: flood-std, sans-serif;
  --font-body: skolar-sans-latin, sans-serif;
  --link: white;
}

* {
  font-family: inherit;
}

html, body {
  font-family: var(--font-body);
  font-weight: 400;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h2, h3 {
  font-family: var(--font-display);
}

a:visited {
  all: unset;
}